

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: #19303f;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: #19303f;
}

/* Link without decorating underline */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.headerLargeLogo {
    position: fixed;
    top: 5px;
    left: 10px;
    height: 48px;
}

.headerIconHome {
    position: fixed;
    cursor: pointer;
    right: 75px;
    top: 5px;
    height: 40px;
}

.headerVerticalLine {
    position: fixed;
    right: 40px;
    top: 5px;
    height: 40px;
}

.headerIconLogout {
    position: fixed;
    cursor: pointer;
    right: 10px;
    top: 5px;
    height: 40px;
}

.stretch {
    width: 100%;
    height: 100%;
}

#background {
    background-image: url(../images/New-Aurora2-2400px.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#progressBar {
    background-color: #f7f3f3;
    position: relative;
    width: 98%;
    border: solid;
    border-width: thin;
    position: relative;
}

.progressBarRange {
    background-color: #addb6a;
    color: lightgray;
    width: 5%;
    height: 16px;
    top: 1px;
    left: 1px;
}

.progressBarText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    font-weight: bolder;
    position: absolute;
    top: 1px;
    left: 1px;
}

.footerSmallLogo {
    display: none;
    position: absolute;
    right: 10px;
    top: 2px;
    height: 16px;
}

.footerLargeLogo {
    position: absolute;
    right: 10px;
    top: 3px;
    height: 40px;
}

.headerSmallLogo {
    display: none;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.headingImage {
    margin-top: 56px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    float: left;
}

.headingImageWhite {
    margin-top: 2px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    display: none;
}

.headingText {
    margin-top: 66px;
    margin-left: 66px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 18pt;
    white-space: nowrap;
}

img {
    border: 0px;
}




/* Body Style */

.spanHeading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-wrap: none;
    vertical-align: middle;
}

.spanConfirm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bold;
}

/*span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

.normalTABLE {
    width: 100%;
    height: 100%;
}

.wideTABLE {
    width: 100%;
}

.normalTR {
    vertical-align: middle;
    height: 1px;
}

.headingTD {
    width: 100px;
    vertical-align: top;
    padding-top: 5px;
    padding-left: 10px;
}

.labelingTD {
    min-width: 90px;
    width: 90px;
    padding-top: 5px;
    padding-left: 3px;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subLabelingTD {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.revisionTD {
    padding-top: 5px;
    padding-left: 3px;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultsLabelingTD {
    min-width: 90px;
    width: 90px;
    padding-left: 3px;
    vertical-align: top;
    font-weight: normal;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.minTD {
    width: 1%;
}

.errorItem {
    color: crimson;
    font-weight: bolder;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.confirmationItem {
    color: darkgreen;
    font-weight: bolder;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gridContainerArea {
    margin-left: 94px;
    margin-right: 0px;
}

#informationArea {
    margin-left: 94px;
    margin-right: 0px;
}

#locationGridArea {
    margin-left: 94px;
    margin-right: 0px;
}

#informationAreaBottom {
    margin-left: 94px;
    margin-right: 0px;
}

#elevatedItemNameFooter {
    color: white;
    font-size: 12px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 4px;
    white-space: nowrap;
}

.tableListCollapsed {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    width: 100%;
}

.tableListRow {
    text-align: left;
}

.tableListColumn {
    width: 30%;
    padding-left: 0px;
}

.tableCollapsed {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    width: 100%;
}

.tableRow {
    text-align: left;
    padding-left: 5px;	
  	word-wrap:break-word;   /*add 自动换行  by wangyang */
	word-break:break-all;
}

.tableRow_201 {
    text-align: left;
    padding-left: 5px;
	word-wrap:break-word;   /*add 自动换行  by wangyang */
	word-break:break-all;
}

    .tableRow:nth-child(even) {
        background-color: #eeeeee;
    }

    .tableRow:nth-child(odd) {
        background-color: #ffffff;
    }

    .tableRow:hover {
        background-color: #ffefd5;
    }

.tableColumn {
    width: 30%;
    padding-left: 5px;
	word-wrap:break-word;    /*add 自动换行  by wangyang */
	word-break:break-all;
}

.tableColumnData {
    font-weight: normal;
}

.tableColumnHeadingData {
    font-weight: bold;
}

#spacerTD {
    width: 100px;
}

.divConfirmButtons {
    margin-top: 10px;
    text-align: right;
    margin-right: 0px;
}

.divConfirmLeftButtons {
    margin-top: 10px;
    text-align: left;
    margin-left: 0px;
}

.imgConfirmButtonImage {
    height: 23px;
    width: 23px;
}

.imgSelectStock {
    height: 23px;
    width: 23px;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.moveToStockModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.moveToStockModalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button */
.moveToStockModalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .moveToStockModalClose:hover,
    .moveToStockModalClose:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.moveToStockModalHeader {
    padding: 2px 16px;
    background-color: #19303f;
    color: white;
    font-size:28px; 
    font-weight:bold
}

.moveToStockModalBody {
    padding: 2px 16px;
}


@media screen {

    div.vertical-line {
        width: 1px;
        height: 98%;
        float: left;
        background-color: black;
    }

    body {
        margin: 0;
    }

    .row, .col {
        overflow: hidden;
        position: absolute;
    }

    .row {
        left: 0;
        right: 0;
    }

    .col {
        top: 0;
        bottom: 0;
    }

    .scroll-x {
        overflow-x: auto;
    }

    .scroll-y {
        overflow-y: auto;
    }

    .body.row {
        top: 120px;
        bottom: 40px;
    }
}

@media screen and (max-width: 1000px) {
    #spacerTD {
        display: none;
    }

    .normalTR {
        vertical-align: middle;
        height: 1px;
    }

    .headingTD {
        width: 100px;
        padding-top: 1px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    .normalTR {
        vertical-align: middle;
        height: 1px;
    }

    .headingTD {
        display: none;
    }

    .verticalTD {
        display: none;
    }

    #gridContainerArea {
        margin-left: 3px;
        margin-right: 3px;
    }

    #informationArea {
        margin-left: 3px;
        margin-right: 3px;
    }

    #informationAreaBottom {
        margin-left: 3px;
        margin-right: 3px;
    }
     #locationGridArea {
        margin-left: 3px;
        margin-right: 3px;
    }

    .divConfirm {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }
    .moveToStockModalHeader {
        font-size: 12px;
        padding: 1px 8px;
    }
    .moveToStockModalClose{
        font-weight: bold;
        font-size: 16px;
    }
}

/* Motorola MC40, 320 x 452 */
@media screen and (max-width: 320px) {
    .normalTR {
        vertical-align: middle;
        height: 1px;
    }

    .headingTD {
        display: none;
    }

    .verticalTD {
        display: none;
    }

    #gridContainerArea {
        margin-left: 3px;
        margin-right: 3px;
    }

    #informationArea {
        margin-left: 3px;
        margin-right: 3px;
    }
    .moveToStockModalClose{
        font-weight: bold;
        font-size: 16px;
    }
    .moveToStockModalHeader {
        font-size: 12px;
        padding: 1px 8px;
    }

    #informationAreaBottom {
        margin-left: 3px;
        margin-right: 3px;
    }
        #locationGridArea {
        margin-left: 3px;
        margin-right: 3px;
    }

    .divConfirm {
        margin-left: 10px;
        margin-right: 0px;
        display: block;
    }
}

@media screen and (max-height: 550px) {

    .body.row {
        top: 30px;
        bottom: 20px;
    }

    .spanConfirm {
        font-size: 12pt;
    }

    .tableCollapsed {
        font-size: 12px;
    }

    .footerLargeLogo {
        display: none;
    }

    .footerSmallLogo {
        display: block;
    }

    .headerLargeLogo {
        display: none;
    }

    .headerSmallLogo {
        display: block;
    }

    .footer {
        height: 20px;
    }

    .header {
        height: 25px;
    }

    .headerIconHome {
        height: 16px;
        width: 16px;
        right: 50px;
        top: 2px;
    }

    .headerVerticalLine {
        height: 16px;
        right: 29px;
        top: 2px;
    }

    .headerIconLogout {
        height: 16px;
        top: 2px;
    }

    .headingImage {
        display: none;
    }

    .headingImageWhite {
        display: block;
    }

    .headingText {
        margin-top: -20px;
        margin-left: 55px;
        font-size: 10pt;
        color: white;
    }

    input[type='text'],
    input[type='number'],
    input[type='password'],
    textarea {
        font-size: 16px;
    }
}

@media screen and (max-height: 500px) {
    #spacerRow {
        display: block;
        height: 100%;
    }
    .moveToStockModalHeader {
        font-size: 12px;
        padding: 1px 8px;
    }
    .moveToStockModalClose{
        font-weight: bold;
        font-size: 16px;
    }
}

/* Motorola MC40, 320 x 452 */
@media screen and (max-height: 452px) {

    .footer {
        height: 20px;
    }
}
